<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span jhiTranslate="demo2App.utilisateur.detail.title">Utilisateur</span> {{utilisateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demo2App.utilisateur.idUser">Id User</span></dt>
                <dd>
                    <span>{{utilisateur.idUser}}</span>
                </dd>
                <dt><span jhiTranslate="demo2App.utilisateur.userName">User Name</span></dt>
                <dd>
                    <span>{{utilisateur.userName}}</span>
                </dd>
                <dt><span jhiTranslate="demo2App.utilisateur.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of utilisateur.users; let last = last">
                        <a [routerLink]="['/groupe', user?.id, 'view' ]">{{user.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="demo2App.utilisateur.enprunter">Enprunter</span></dt>
                <dd>
                    <span *ngFor="let enprunter of utilisateur.enprunters; let last = last">
                        <a [routerLink]="['/produit', enprunter?.id, 'view' ]">{{enprunter.user}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
